---
import MainLayout from "../layouts/DocumentLayout.astro";
---

<MainLayout title="Mauricio Allende - Front-end Engineer - CV">
  <header class="print:hidden flex justify-end items-center h-16 gap-4">
    <a href="/">Go Back</a>
    <a download href="/cv/Mauricio Allende - Front-end Engineer - CV.pdf">
      Download
    </a>
  </header>

  <div class="flex justify-between items-center">
    <div class="flex flex-col">
      <h1 class="mb-2 mt-3">Mauricio Allende</h1>
      <span> Front-end Engineer | UX/UI Designer</span>
    </div>

    <div class="flex flex-col mt-5">
      <span>Santiago, Chile</span>
      <a class="mt-2" href="mailto:hi@mallendeo.com">hi@mallendeo.com</a>
    </div>
  </div>

  <h2>Work Experience</h2>

  <h3>Web UI Developer - Globant - 2019 - 2020</h3>

  <ul>
    <li>
      Worked with the Ancillaries Team to redesign the LATAM seat selection
      experience from scratch.
    </li>
    <li>Built components and made changes to the LATAM native app.</li>
  </ul>

  <span>Tech: <strong>React Native, Next.JS, React Hooks, Node</strong></span>

  <hr class="w-8" />

  <h3>Full Stack Developer - AcidLabs - 2019</h3>

  <ul>
    <li>
      Developed new features and added performance improvements for Abcdin's
      app.
    </li>
    <li>
      Optimized Abcdin's kiosk server response time, reducing the loading time
      by up to 80%.
    </li>
  </ul>

  <span> Tech: <strong>React Native, React, Redux</strong></span>

  <hr class="w-8" />

  <h3>Full Stack Developer – Reign Design (now Apply Digital) – 2018</h3>

  <ul>
    <li>
      Developed an insurance web app for a large retail client (Falabella).
    </li>
  </ul>

  <span>Tech: <strong>Angular 4+, Node</strong></span>

  <hr class="w-8" />

  <h3>Software Developer – Pleno (Santillana) – 2017</h3>

  <ul>
    <li>
      Created a multi-platform app for students to take offline tests, with a
      real-time admin dashboard.
    </li>
  </ul>

  <span>Tech: <strong>Electron, Express, WebSockets, Angular 4</strong></span>

  <div class="justify-between items-center break-before-page hidden print:flex">
    <strong class="mb-2 mt-3">Mauricio Allende</strong>
    <small> Front-end Engineer | UX/UI Designer</small>
    <a class="mt-2" href="mailto:hi@mallendeo.com">hi@mallendeo.com</a>
  </div>

  <hr class="print:hidden" />

  <h2>Work Experience</h2>

  <h3>Software Developer – Frankenstudio – 2014 - 2015</h3>

  <ul>
    <li>
      Developed an interactive showcase app for Pontificia Universidad Católica
      de Chile.
    </li>
    <li>
      Created a video recording app with green screen effect for Minera Los
      Pelambres.
    </li>
  </ul>

  <span>Tech: <strong>NW.JS, Node, CakePHP, jQuery</strong></span>

  <hr />

  <h2>Education</h2>

  <ul>
    <li>
      <strong>Universidad Tecnológica de Chile Inacap</strong>
      <span>| Informatics Engineering</span>
      <small class="p-1 px-2 bg-gray-1 rounded-full"> 2013 - 2016</small>
    </li>

    <li>
      <strong>Universidad del Desarrollo</strong>
      <span>| Civil Engineering</span>
      <small class="p-1 px-2 bg-gray-1 rounded-full"> 2011 - 2012</small>
    </li>
  </ul>

  <hr />

  <h2>Technical Skills</h2>
  <ul>
    <li>Vue / Nuxt 2 & 3</li>
    <li>React / Next</li>
    <li>React Native / Expo</li>
    <li>TypeScript</li>
    <li>Node</li>
    <li>CSS</li>
    <li>Web Animation</li>
  </ul>

  <hr class="w-8" />

  <ul>
    <li>
      Personal projects: <a
        target="__blank"
        rel="noopener noreferrer"
        href="https://github.com/mallendeo">github.com/mallendeo</a
      >
    </li>
    <li>
      Code experiments: <a
        target="__blank"
        rel="noopener noreferrer"
        href="https://codepen.io/mallendeo">codepen.io/mallendeo</a
      >
    </li>
    <li>
      Designs and mockups: <a
        target="__blank"
        rel="noopener noreferrer"
        href="https://dribbble.com/mallendeo">dribbble.com/mallendeo</a
      >
    </li>
  </ul>
</MainLayout>
